
.loader {
   
  height: 100vh !important;
  width: 100vw !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background: var(--dark-color);

  .containerLoader{

    display: flex !important;
    height: 100vh !important;
    perspective: 195px;

    img{
      background: var(--dark-color);
      max-width: 165px;
      height: auto;
      margin: auto;

      transform-origin: center;
      animation: rotateImage 4s linear infinite;
      transform-style: preserve-3d;


      @keyframes rotateImage {
        0% {
          transform: rotateY(0deg);
        }
        100% {
          transform: rotateY(360deg);
        }
      }

    }

  }
  
}
    
  