.list{
    display: flex;
    list-style: none;
    justify-content: end;
    position: relative;
    margin: 65px 0px 40px;
    width: 100%;


    @media(max-width: 767px){ justify-content: center; flex-wrap: wrap; }

    &::after{
        content: "Categorias";
        display: block;
        font-size: 15px;
        color: var(--main-color);
        width: 91px;
        height: 30px;
        position: absolute;
        top: -31px;
        right: 0px;
        font-family: 'Black Ops one';

        @media(max-width: 767px){ right: 50%; transform: translate(50%); }
        
    }

    .filter{
        cursor: pointer;
        color: #fff;
        font-size: 20px;
        margin-left: 20px;
        position: relative;

        @media(max-width: 767px){ font-size: 15px; margin-left: 12px; }

        &:not(:last-child)::after{
            content: '';
            width: 5px;
            height: 1px;
            background: var(--main-color);

            position: absolute;
            right: -13px;
            top: 50%;

            @media(max-width: 767px){ width: 3px; right: -8px; }

        }
        
        &:hover{
            filter: brightness(0.9);
        }

    }
}

.title{
    color: #fff;
    text-align: center;
    margin-bottom: 25px;
    display: none;
    text-shadow: 0 0 10px var(--main-color);

    position: relative;

    &::before{
        content: '';
        display: block;
        width: 150px;
        height: 1px;
        background: var(--main-color);
        box-shadow: 1px 0px 8px 1px var(--main-color);

        position: absolute;
        left: 0px;
        top: 50%;
        transform: translate(0, -50%);

        @media(max-width: 767px){ width: 50px; }
    }

    &::after{
        content: '';
        display: block;
        width: 150px;
        height: 1px;
        background: var(--main-color);
        box-shadow: 1px 0px 8px 1px var(--main-color);

        position: absolute;
        right: 0px;
        top: 50%;
        transform: translate(0, -50%);

        @media(max-width: 767px){ width: 50px; }
    }
}

h1.show{
    display: block !important;
}