.container{
    max-width: 1200px;
    margin: 60px auto;

    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.typeWelcome{
    color: #ffff;
    text-shadow: 0 0 10px var(--main-color);

}