*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

body{
  background: var(--dark-color);
}

.layout{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

:root{
  --main-color: #38b6ff;
  --dark-color: #0b0b0b;
  --white-color: #fafafa;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}
