.logo{

    padding: 25px;

    @media(max-width: 767px){ padding: 15px }

    img{
        max-width: 80px;
        height: auto;
        filter: drop-shadow(0px 0px 7px var(--main-color));

        @media(max-width: 767px){ max-width: 60px; }
    }
}