.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    display: flex;


    @media(max-width: 767px){
        flex-direction: column;
        padding: 0;
    }

    .card{
        width: 50%;
        padding: 10px;

        display: flex;
        align-items: center;
        justify-content: center;


        @media(max-width: 767px){
            width: 100%;
            margin-bottom: 30px;
        }

        img{
            max-width: 330px;
            height: auto;

            border: 1px solid var(--main-color);
            border-radius: 10px;
            filter: drop-shadow(2px 4px 6px var(--main-color));

            @media(max-width: 440px){
                max-width: 100%;
            }
        }
    }

    .desc{
        width: 50%;
        padding: 10px;

        display: flex;
        justify-content: center;
        flex-direction: column;

        @media(max-width: 767px){
            width: 100%;
            max-width: 500px;
            margin: 30px 0 50px;
        }

        h1{
            color: #ffff;
            font-size: 2.5em;
            text-shadow: 0 0 10px var(--main-color);
        }

        h2{
            margin-bottom: 20px;
            color: #ffff;
            padding-left: 5px;
            font-size: 15px;
            text-shadow: 0 0 10px var(--main-color)
        }

        p{
            font-size: 18px;
            text-align: left;
            margin-bottom: 10px;
            color: #ffff;
        }

        .btnAbout{
            margin: 20px 0;
            padding: 0;
            justify-content: start;

            @media(max-width: 767px){ 
                justify-content: center;

                a{
                    width: 100%;
                }
            }
        }

        .services{
            max-width: 50px;
            height: auto;
            margin: 35px 0 10px;
            filter: opacity(0.4);
        }
    }
}