.containerPost{
    display: flex;
    padding: 10px;
    justify-content: center;
    width: 100%;

    @media(max-width: 767px){
        flex-direction: column;
        align-items: center;
    }
}

.postBox{
    width: 525px;
    padding: 5px;
    margin: 15px;
    max-width: 100%;

    .clickContainer{
        cursor: pointer;
        text-decoration: none;
        display: block;
        transition: all ease 0.3s;
        box-shadow: 0px 0px 10px var(--main-color);
        padding: 10px;
        position: relative;

        &:hover{
            transform: scale(1.05);
        }

        img{
            max-width: 100%;
        }
    
        .descPost{
            background: linear-gradient(0deg, black, transparent);
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 30px 0 20px;
            transform: translate(-50%, 0);

            position: absolute;
            bottom: 4px;
            left: 50%;

            h2{
                color: #fff;
                text-shadow: 0 0 5px var(--main-color);
                font-size: 16px;
                font-style: italic;
                font-weight: 400;
            }
        }
    }

    
}