.header{

    background: linear-gradient(0deg, #0b0b0b, rgb(11 11 11 / 93%), #0b0b0b),url('../../../public/bg-banner.jpg');
    background-size: cover;
    background-position: center;

    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 15px;
        max-width: 1200px;
        margin: 0 auto;

        .logo{

            padding: 25px;

            img{
                max-width: 80px;
                height: auto;
                filter: drop-shadow(0px 0px 7px var(--main-color));
            }
        }

        .nav{
            nav{
                ul{
                    display: flex;
                    list-style: none;

                    li{
                        margin-left: 25px;
                        text-decoration: none;

                        &::first-letter{
                            color: var(--main-color);
                        }

                        a{text-decoration: none;}

                        p{
                            color: var(--white-color);
                            text-decoration: none;
                            font-family: 'Black Ops One';
                            font-size: 20px;
                            transition: all ease 0.3s;

                            &:hover{
                                color: var(--main-color) ;
                            }

                        }

                        .active{
                            color: var(--main-color);
                        }

                        

                        
                    }
                }
            }
        }

    }
}