.header{

    background: linear-gradient(0deg, #0b0b0b, rgb(11 11 11 / 93%), #0b0b0b),url('../../../public/bg-banner.jpg');
    background-size: cover;
    background-position: center;

    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 15px;
        max-width: 1200px;
        margin: 0 auto;

        .navigation{
            @media(max-width: 767px){ display: none; }
        }

    }

}