.header{

    background: linear-gradient(0deg, #0b0b0b, rgb(11 11 11 / 93%), #0b0b0b),url('../../../public/bg-banner.jpg');
    background-size: cover;
    background-position: center;

    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 15px;
        max-width: 1200px;
        margin: 0 auto;

        .logo{

            padding: 25px;

            @media(max-width: 767px){ padding: 15px }

            img{
                max-width: 80px;
                height: auto;
                filter: drop-shadow(0px 0px 7px var(--main-color));

                @media(max-width: 767px){ max-width: 60px; }
            }
        }

        .navigation{
            @media(max-width: 767px){ display: none; }
        }

    }

}