.burgerMenu{
    display: none;
}

.containerSideBar{
    display: none;
}


@media(max-width: 767px){

    .containerSideBar{
        
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: end;
        padding: 0 25px;

        .burgerMenu{
            display: flex;
            flex-direction: column;
            justify-content: space-between; 
            align-items: flex-start;
            height: 1em;
            width: 1em;
            cursor: pointer;
            

            .burgerBar{
                width: 20px;
                height: 3px;
                background-color: #ffff;
                border-radius: 0.5em;
                box-shadow: 0 0 10px var(--main-color);
            }

            .clicked{
                &:nth-child(1){
                    transform: rotate(45deg) translate(0.75em, 0.29em);
                    box-shadow: 0 0 3px var(--main-color);
                    transition: ease-out 0.5s;
                    height: 3px;
                }

                &:nth-child(2){
                    transform: scale(0.1);
                    transition: ease-out 0.5s;
                    height: 3px;
                }

                &:nth-child(3){
                    transform: rotate(135deg) translate(-0.3em, -0.15em);
                    transition: ease-out 0.5s;
                    height: 3px;
                    box-shadow: 0 0 3px var(--main-color);
                }
            }

            .unclicked{
                transform: rotate(0) translate(0);
                transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
                text-shadow: 0 0 3px var(--main-color);
            }
        }

        .sideBar{
            width: 50%;
            height: calc(100vh - 140px);
            background: #0b0b0be8;
            position: absolute;
            top: 140px;
            right: 0;
            z-index: 1;
            display: none;
            box-shadow: 7px 12px 16px var(--main-color);

            .column{
                width: 100%;
                nav{

                    margin-top: 100px;

                    ul{
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        li{
                            margin-bottom: 20px;
                        }
                    }
                }
            }
        }
        
        .hidden{
            display: none;
        }

        .visible{
            display: inherit;
        }
        
    }
    

}